In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
print("Train shape:", train.shape)
print("Test shape:", test.shape)

Train shape: (11018, 36)
Test shape: (5000, 36)

In [4]:
print("Train labels:", train['RiskScore'])

Train labels: 0        66.176500
1        28.495737
2        34.488104
3        36.910753
4        31.347091
           ...
11013    67.673170
11014    75.292707
11015          NaN
11016    32.805455
11017    66.176500
Name: RiskScore, Length: 11018, dtype: float64

In [5]:
train.columns.tolist()

['ApplicationDate',
 'Age',
 'AnnualIncome',
 'CreditScore',
 'LoanAmount',
 'LoanDuration',
 'MaritalStatus',
 'NumberOfDependents',
 'HomeOwnershipStatus',
 'MonthlyDebtPayments',
 'CreditCardUtilizationRate',
 'NumberOfOpenCreditLines',
 'NumberOfCreditInquiries',
 'DebtToIncomeRatio',
 'BankruptcyHistory',
 'LoanPurpose',
 'PreviousLoanDefaults',
 'PaymentHistory',
 'LengthOfCreditHistory',
 'SavingsAccountBalance',
 'CheckingAccountBalance',
 'TotalAssets',
 'TotalLiabilities',
 'MonthlyIncome',
 'UtilityBillsPaymentHistory',
 'JobTenure',
 'EmploymentStatus',
 'EducationLevel',
 'Experience',
 'NetWorth',
 'BaseInterestRate',
 'InterestRate',
 'MonthlyLoanPayment',
 'TotalDebtToIncomeRatio',
 'LoanApproved',
 'RiskScore']

In [6]:
train.head()

,ApplicationDate,Age,AnnualIncome,CreditScore,LoanAmount,LoanDuration,MaritalStatus,NumberOfDependents,HomeOwnershipStatus,MonthlyDebtPayments,...,EmploymentStatus,EducationLevel,Experience,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
0,2010-06-26,27.0,66829.0,549.0,17290.0,60.0,Divorced,1.0,Rent,1095.0,...,Employed,Associate,4.0,35067.0,0.257790,0.251465,508.970230,0.288013,0.0,66.176500
1,1996-09-23,55.0,172147.0,850.0,16110.0,36.0,Widowed,1.0,Mortgage,211.0,...,Employed,High School,33.0,27001.0,0.086110,0.093173,514.675859,0.050585,1.0,28.495737
2,2015-01-19,51.0,300000.0,850.0,38436.0,36.0,Married,0.0,Mortgage,546.0,...,Employed,Bachelor,28.0,278382.0,0.108436,0.115443,1268.276385,0.072571,1.0,34.488104
3,1981-05-12,25.0,34683.0,847.0,19186.0,48.0,Married,0.0,Other,153.0,...,Employed,High School,0.0,9224.0,0.100686,0.112822,498.505187,0.225415,1.0,36.910753
4,1995-05-07,55.0,300000.0,850.0,30437.0,48.0,Single,2.0,Rent,562.0,...,Employed,Bachelor,31.0,4502.0,0.110437,0.089037,756.035156,0.052721,1.0,31.347091

In [7]:
test.head()

,ID,ApplicationDate,Age,AnnualIncome,CreditScore,LoanAmount,LoanDuration,MaritalStatus,NumberOfDependents,HomeOwnershipStatus,...,JobTenure,EmploymentStatus,EducationLevel,Experience,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved
0,0,1979-01-03,49,207095,850,14458,60,Single,0,Rent,...,6,Employed,High School,23,10626,0.104458,0.125350,325.532336,0.040650,1
1,1,2006-04-10,28,64653,674,65491,48,Single,2,Own,...,3,Employed,High School,3,299024,0.233491,0.260561,2210.247757,0.454410,0
2,2,2013-11-28,41,300000,768,16811,60,Single,1,Own,...,3,Employed,High School,19,6979,0.147811,0.154571,403.977431,0.034919,1
3,3,1995-08-24,50,300000,850,48737,36,Divorced,0,Mortgage,...,3,Self-Employed,Bachelor,26,8438,0.118737,0.099712,1571.946906,0.085558,1
4,4,1980-06-15,35,300000,672,51916,60,Single,6,Mortgage,...,7,Employed,Associate,12,436216,0.230916,0.237727,1486.675235,0.063707,1

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11018 entries, 0 to 11017
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ApplicationDate             10488 non-null  object
 1   Age                         10488 non-null  float64
 2   AnnualIncome                10488 non-null  float64
 3   CreditScore                 9987 non-null   float64
 4   LoanAmount                  9987 non-null   float64
 5   LoanDuration                10488 non-null  float64
 6   MaritalStatus               10488 non-null  object
 7   NumberOfDependents          10488 non-null  float64
 8   HomeOwnershipStatus         10488 non-null  object
 9   MonthlyDebtPayments         9987 non-null   float64
 10  CreditCardUtilizationRate   10488 non-null  float64
 11  NumberOfOpenCreditLines     10488 non-null  float64
 12  NumberOfCreditInquiries     10488 non-null  float64
 13  DebtToIncomeRatio           10488 non-null  float64
 14  BankruptcyHistory           9987 non-null   float64
 15  LoanPurpose                 9987 non-null   object
 16  PreviousLoanDefaults        10488 non-null  float64
 17  PaymentHistory              10488 non-null  float64
 18  LengthOfCreditHistory       10488 non-null  float64
 19  SavingsAccountBalance       10488 non-null  float64
 20  CheckingAccountBalance      9987 non-null   float64
 21  TotalAssets                 9987 non-null   float64
 22  TotalLiabilities            10488 non-null  float64
 23  MonthlyIncome               10488 non-null  float64
 24  UtilityBillsPaymentHistory  10488 non-null  float64
 25  JobTenure                   10488 non-null  float64
 26  EmploymentStatus            10488 non-null  object
 27  EducationLevel              10488 non-null  object
 28  Experience                  10488 non-null  float64
 29  NetWorth                    9987 non-null   float64
 30  BaseInterestRate            9987 non-null   float64
 31  InterestRate                10488 non-null  float64
 32  MonthlyLoanPayment          10488 non-null  float64
 33  TotalDebtToIncomeRatio      10488 non-null  float64
 34  LoanApproved                10488 non-null  float64
 35  RiskScore                   10488 non-null  float64
dtypes: float64(30), object(6)
memory usage: 3.0+ MB

In [9]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          5000 non-null   int64
 1   ApplicationDate             5000 non-null   object
 2   Age                         5000 non-null   int64
 3   AnnualIncome                5000 non-null   int64
 4   CreditScore                 5000 non-null   int64
 5   LoanAmount                  5000 non-null   int64
 6   LoanDuration                5000 non-null   int64
 7   MaritalStatus               5000 non-null   object
 8   NumberOfDependents          5000 non-null   int64
 9   HomeOwnershipStatus         5000 non-null   object
 10  MonthlyDebtPayments         5000 non-null   int64
 11  CreditCardUtilizationRate   5000 non-null   float64
 12  NumberOfOpenCreditLines     5000 non-null   int64
 13  NumberOfCreditInquiries     5000 non-null   int64
 14  DebtToIncomeRatio           5000 non-null   float64
 15  BankruptcyHistory           5000 non-null   int64
 16  LoanPurpose                 5000 non-null   object
 17  PreviousLoanDefaults        5000 non-null   int64
 18  PaymentHistory              5000 non-null   int64
 19  LengthOfCreditHistory       5000 non-null   int64
 20  SavingsAccountBalance       5000 non-null   int64
 21  CheckingAccountBalance      5000 non-null   int64
 22  TotalAssets                 5000 non-null   int64
 23  TotalLiabilities            5000 non-null   int64
 24  MonthlyIncome               5000 non-null   float64
 25  UtilityBillsPaymentHistory  5000 non-null   float64
 26  JobTenure                   5000 non-null   int64
 27  EmploymentStatus            5000 non-null   object
 28  EducationLevel              5000 non-null   object
 29  Experience                  5000 non-null   int64
 30  NetWorth                    5000 non-null   int64
 31  BaseInterestRate            5000 non-null   float64
 32  InterestRate                5000 non-null   float64
 33  MonthlyLoanPayment          5000 non-null   float64
 34  TotalDebtToIncomeRatio      5000 non-null   float64
 35  LoanApproved                5000 non-null   int64
dtypes: float64(8), int64(22), object(6)
memory usage: 1.4+ MB

In [10]:
unique_counts = {column: train[column].nunique() for column in train.columns}

sorted_unique = dict(sorted(unique_counts.items(), key=lambda item: item[1]))

for column, count in sorted_unique.items():
    print(f"{column}: {count} unique values")

BankruptcyHistory: 2 unique values
PreviousLoanDefaults: 2 unique values
LoanApproved: 2 unique values
EmploymentStatus: 3 unique values
MaritalStatus: 4 unique values
HomeOwnershipStatus: 4 unique values
LoanPurpose: 5 unique values
EducationLevel: 5 unique values
NumberOfDependents: 7 unique values
NumberOfCreditInquiries: 7 unique values
LoanDuration: 10 unique values
NumberOfOpenCreditLines: 12 unique values
JobTenure: 16 unique values
LengthOfCreditHistory: 30 unique values
PaymentHistory: 37 unique values
Experience: 58 unique values
Age: 63 unique values
CreditScore: 548 unique values
MonthlyDebtPayments: 1736 unique values
CheckingAccountBalance: 3971 unique values
MonthlyIncome: 5546 unique values
AnnualIncome: 5602 unique values
SavingsAccountBalance: 6344 unique values
LoanAmount: 8720 unique values
NetWorth: 8842 unique values
TotalAssets: 9241 unique values
TotalLiabilities: 9300 unique values
BaseInterestRate: 9388 unique values
RiskScore: 9790 unique values
ApplicationDate: 10000 unique values
CreditCardUtilizationRate: 10000 unique values
DebtToIncomeRatio: 10000 unique values
UtilityBillsPaymentHistory: 10000 unique values
InterestRate: 10000 unique values
MonthlyLoanPayment: 10000 unique values
TotalDebtToIncomeRatio: 10000 unique values

In [11]:
import numpy as np
import pandas as pd

train_numeric = train.select_dtypes(include=[np.number])
test_numeric = test.select_dtypes(include=[np.number])

y_train = train_numeric['RiskScore']
X_train = train_numeric.drop(['RiskScore'], axis=1)

X_test = test_numeric

print("X_train",X_train.shape)
print("y_train",y_train.shape)
print("X_test",X_test.shape)

X_train (11018, 29)
y_train (11018,)
X_test (5000, 30)

In [12]:
y_train.replace({-9999999.0: np.nan, 10000000.0: np.nan}, inplace=True)

In [13]:
combined = pd.concat([X_train, y_train], axis=1)
combined = combined.dropna()

X_train = combined.drop(columns=["RiskScore"])
y_train = combined["RiskScore"]

In [14]:
print("NaNs in y_train after clearing:", y_train.isnull().sum())
print("Shape X_train:", X_train.shape)
print("Shape y_train:", y_train.shape)

NaNs in y_train after clearing: 0
Shape X_train: (9788, 29)
Shape y_train: (9788,)

In [15]:
print("X_train total missing values:", X_train.isnull().sum().sum())
print("X_test total missing values before drop/fill:", X_test.isnull().sum().sum())

X_train_filled = X_train.fillna(X_train.mean())

X_test_filled = X_test.fillna(X_train.mean())
X_test_filled = X_test_filled.drop(columns=["Id"], errors="ignore")
X_test_filled = X_test_filled[X_train_filled.columns]

X_train total missing values: 0
X_test total missing values before drop/fill: 0

In [16]:
def normalize_zscore(X, ref_stats=None):
    if ref_stats is None:
        mean=X.mean()
        std=X.std()
    else:
        mean,std=ref_stats

    std = std.replace(0, 1)

    X_norm = (X - mean) / std
    return X_norm, (mean, std)

In [17]:
def normalize_minmax(X, ref_stats=None):
    if ref_stats is None:
        X_min=X.min()
        X_max=X.max()
    else:
        X_min,X_max=ref_stats

    X_norm = (X - X_min) / (X_max - X_min)
    return X_norm, (X_min, X_max)

In [18]:
X_train_z, z_stats = normalize_zscore(X_train_filled)
X_test_z, _ = normalize_zscore(X_test_filled, ref_stats=z_stats)

In [19]:
print("Train mean ==",X_train_z.mean().mean())
print("Train std==",X_train_z.std().mean())

Train mean == 3.9608692296598353e-17
Train std== 1.0

In [20]:
def add_bias(X):
    ones = np.ones((X.shape[0], 1))
    return np.hstack((ones, X))

In [21]:
def fit_analytic(X, y):
    X_b = add_bias(X)
    theta = np.linalg.pinv(X_b.T @ X_b) @ X_b.T @ y
    return theta

In [22]:
def predict_analytic(X,theta):
    X_b = add_bias(X)
    return X_b @ theta

In [23]:
X = X_train_z.values
X_test = X_test_z.values
y = y_train.values.flatten()

In [24]:
from regularization import ridge_regression, lasso_regression, elastic_net_regression
from metrics import mean_squared_error_manual, mean_absolute_error_manual, r2_score_manual
from hyperparameter_tuning import grid_search_cv
from cross_validation import kfold_split
import numpy as np

cv = kfold_split(X_train_z, n_splits=5, shuffle=True, random_state=42)

class RidgeWrapper:
    def __init__(self, alpha):
        self.alpha = alpha

    def fit(self, X, y):
        X_b = np.c_[np.ones(len(X)), X]
        self.w_hist, _ = ridge_regression(X_b, y, alpha=self.alpha, alpha_lr=0.001, n_iters=1000)
        self.w = self.w_hist[-1]

    def predict(self, X):
        X_b = np.c_[np.ones(len(X)), X]
        return X_b @ self.w

class LassoWrapper:
    def __init__(self, alpha):
        self.alpha = alpha

    def fit(self, X, y):
        X_b = np.c_[np.ones(len(X)), X]
        self.w_hist, _ = lasso_regression(X_b, y, alpha=self.alpha, alpha_lr=0.001, n_iters=1000)
        self.w = self.w_hist[-1]

    def predict(self, X):
        X_b = np.c_[np.ones(len(X)), X]
        return X_b @ self.w

class ElasticNetWrapper:
    def __init__(self, alpha1, alpha2):
        self.alpha1 = alpha1
        self.alpha2 = alpha2

    def fit(self, X, y):
        X_b = np.c_[np.ones(len(X)), X]
        self.w_hist, _ = elastic_net_regression(
            X_b, y,
            alpha1=self.alpha1,
            alpha2=self.alpha2,
            alpha_lr=0.001,
            n_iters=1000
        )
        self.w = self.w_hist[-1]

    def predict(self, X):
        X_b = np.c_[np.ones(len(X)), X]
        return X_b @ self.w

grid_ridge = {"alpha": [1e-5, 1e-4, 1e-3, 1e-2]}
grid_lasso = {"alpha": [1e-5, 1e-4, 1e-3, 1e-2, 0.1]}
grid_elastic = {
    "alpha1": [1e-4, 1e-3, 1e-2],
    "alpha2": [1e-4, 1e-3, 1e-2]
}

print("\nRidge:")
best_ridge, score_ridge, _ = grid_search_cv(RidgeWrapper, grid_ridge, X_train_z, y, cv=cv,
                                            scoring=mean_squared_error_manual, verbose=True)

print("\nLasso:")
best_lasso, score_lasso, _ = grid_search_cv(LassoWrapper, grid_lasso, X_train_z, y, cv=cv,
                                            scoring=mean_squared_error_manual, verbose=True)

print("\nElasticNet:")
best_elastic, score_elastic, _ = grid_search_cv(ElasticNetWrapper, grid_elastic, X_train_z, y, cv=cv,
                                                scoring=mean_squared_error_manual, verbose=True)

def report(name, model_class, params):
    model = model_class(**params)
    model.fit(X_train_z, y)
    y_pred = model.predict(X_train_z)
    print(f"\n{name}:")
    print("Best params:", params)
    print("MSE  =", mean_squared_error_manual(y, y_pred))
    print("MAE  =", mean_absolute_error_manual(y, y_pred))
    print("R²   =", r2_score_manual(y, y_pred))
    print("mean |w|:", np.mean(np.abs(model.w)))
    print("non-zero weights:", np.count_nonzero(np.abs(model.w) > 1e-4))

report("Ridge", RidgeWrapper, best_ridge)
report("Lasso", LassoWrapper, best_lasso)
report("ElasticNet", ElasticNetWrapper, best_elastic)

Ridge:
[1/4] params={'alpha': 1e-05}  mean_score=69.0317
[2/4] params={'alpha': 0.0001}  mean_score=69.0666
[3/4] params={'alpha': 0.001}  mean_score=69.4158
[4/4] params={'alpha': 0.01}  mean_score=72.9639

Lasso:
[1/5] params={'alpha': 1e-05}  mean_score=69.0279
[2/5] params={'alpha': 0.0001}  mean_score=69.0283
[3/5] params={'alpha': 0.001}  mean_score=69.0328
[4/5] params={'alpha': 0.01}  mean_score=69.0774
[5/5] params={'alpha': 0.1}  mean_score=69.5595

ElasticNet:
[1/9] params={'alpha1': 0.0001, 'alpha2': 0.0001}  mean_score=69.0671
[2/9] params={'alpha1': 0.0001, 'alpha2': 0.001}  mean_score=69.4163
[3/9] params={'alpha1': 0.0001, 'alpha2': 0.01}  mean_score=72.9644
[4/9] params={'alpha1': 0.001, 'alpha2': 0.0001}  mean_score=69.0715
[5/9] params={'alpha1': 0.001, 'alpha2': 0.001}  mean_score=69.4208
[6/9] params={'alpha1': 0.001, 'alpha2': 0.01}  mean_score=72.9691
[7/9] params={'alpha1': 0.01, 'alpha2': 0.0001}  mean_score=69.1162
[8/9] params={'alpha1': 0.01, 'alpha2': 0.001}  mean_score=69.4656
[9/9] params={'alpha1': 0.01, 'alpha2': 0.01}  mean_score=73.0161

Ridge:
Best params: {'alpha': 1e-05}
MSE  = 68.16612457173018
MAE  = 6.971482757131366
R²   = 0.7710554776555463
mean |w|: 2.3667784375214067
non-zero weights: 30

Lasso:
Best params: {'alpha': 1e-05}
MSE  = 68.16233882764206
MAE  = 6.971253303488244
R²   = 0.7710681925542943
mean |w|: 2.3667885688766717
non-zero weights: 30

ElasticNet:
Best params: {'alpha1': 0.0001, 'alpha2': 0.0001}
MSE  = 68.2014500549076
MAE  = 6.973619185021252
R²   = 0.770936832567191
mean |w|: 2.3666279045625354
non-zero weights: 30

In [25]:
from cross_validation import kfold_split, cross_val_score_manual
from metrics import mean_squared_error_manual, mean_absolute_error_manual, r2_score_manual
from linear_regression import LinearRegressionManual
import numpy as np

cv_kfold = kfold_split(X, n_splits=5, shuffle=True, random_state=42)
methods = ["analytic", "gradient"]

for method in methods:
    model = LinearRegressionManual(method=method)
    scores_kfold = cross_val_score_manual(model, X_train_z, y, cv_kfold, mean_squared_error_manual)
    print(f" {method.upper()} — KFold MSE mean: {np.mean(scores_kfold):.4f}")

 ANALYTIC — KFold MSE mean: 20.1641
 GRADIENT — KFold MSE mean: 20.2765

In [26]:
from cross_validation import cross_val_score_manual

model = LassoWrapper(alpha=1e-5)
cv_kfold = kfold_split(X_train_z, n_splits=5, shuffle=True, random_state=42)

scores = cross_val_score_manual(model, X_train_z, y, cv=cv_kfold, scoring=mean_squared_error_manual)

print(" Lasso (α=1e-5) — KFold MSE mean:", np.mean(scores))
print(" Отдельно по фолдам:", scores)

 Lasso (α=1e-5) — KFold MSE mean: 69.02790091077225
 Отдельно по фолдам: [np.float64(68.3568116796407), np.float64(66.71784546636395), np.float64(70.2653845726024), np.float64(69.48211605479459), np.float64(70.31734678045962)]

In [27]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

sk_model = LinearRegression()
sk_model.fit(X, y)
y_pred_sk = sk_model.predict(X)

print(" Сравнение со sklearn:")
print("MSE manual     :", mean_squared_error_manual(y, y_pred_sk))
print("MSE sklearn    :", mean_squared_error(y, y_pred_sk))

print("MAE manual     :", mean_absolute_error_manual(y, y_pred_sk))
print("MAE sklearn    :", mean_absolute_error(y, y_pred_sk))

print("R² manual      :", r2_score_manual(y, y_pred_sk))
print("R² sklearn     :", r2_score(y, y_pred_sk))

 Сравнение со sklearn:
MSE manual     : 19.957831519495723
MSE sklearn    : 19.957831519495723
MAE manual     : 3.4945095443383885
MAE sklearn    : 3.4945095443383885
R² manual      : 0.9329691069725712
R² sklearn     : 0.9329691069725712

In [28]:
y_pred = model.predict(X_test)

In [29]:
print("X_train shape:", X.shape)
print("X_test shape:", X_test.shape)

X_train shape: (9788, 29)
X_test shape: (5000, 29)

In [30]:
test_raw = pd.read_csv("test.csv")

In [31]:
y_pred_flat = y_pred.flatten()

submission = pd.DataFrame({
    "ID": test_raw["ID"],
    "RiskScore": y_pred_flat
})

submission.to_csv("baseline.csv", index=False)